<section id="menu">
    <div class="logo">
        <h2>MediPlus</h2>
    </div>

    <div class="items">
        <li id="statistics-link"><i class="fas fa-chart-pie-alt"></i><a href="#"> Statistics</a></li>
        <li id="manage-users-link"><i class="fas fa-th-large"></i><a href="#">Manage Users</a></li>
        <li id="manage-medicine-link"><i class="fas fa-edit"></i><a href="#">Manage Medicine</a></li>
    </div>
</section>
