<section id="menu">
    <div class="logo">
        <a href="/" style="text-decoration: none; color: rgb(97, 97, 199);"><h2>MediPlus</h2></a>
    </div>

    <div class="items">
        <li id="statistics-link"><i class="fas fa-chart-pie-alt"></i><a href="/admin"> Statistics</a></li>
        <li id="manage-users-link"><i class="fas fa-th-large"></i><a href="/admin/manage-users-content">Manage Users</a></li>
        <li id="manage-medicine-link"><i class="fas fa-edit"></i><a href="/admin/manage-medicine-content">Manage Medicine</a></li>
        <li id="manage-navbar"><i class="fas fa-edit"></i><a href="/admin/manageNavbar">Manage Medicine</a></li>
    </div>
</section>
