<section id="menu">
    <div class="logo">
        <h2>MediPlus</h2>
    </div>

    <div class="items">
        <li><i class="fas fa-chart-pie-alt"></i><a href="#">Statistics</a></li>
        <li><i class="fab fa-uikit"></i><a href="#">Add User</a></li>
        <li><i class="fas fa-th-large"></i><a href="#">Manage Users</a></li>
        <li><i class="fas fa-edit"></i></i><a href="#">Manage Medicine</a></li>
        <!-- <li><i class="fab fa-cc-visa"></i><a href="#">Logs</a></li>
        <li><i class="fas fa-hamburger"></i><a href="#">Modal</a></li>
        <li><i class="fas fa-chart-line"></i><a href="#">Blank</a></li> -->
    </div>
</section>