<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Drug Interaction Detection</title>
  <script src="https://kit.fontawesome.com/854a317bd6.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <link rel="stylesheet" href="../css/conflict.css">
  <script src="../script/conflict.js"></script>
</head>
<body>
  <header class="container1">
    <h1 class="interact_text"> Interaction Checker </h1>
    <div class="search">
      <input class="search-bar" type="text" placeholder="Enter drug name" />
      <span class="icon_span">
        <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #cccce7;"></i>
      </span>
      <div class="tags-container"></div>
    </div>
  </header>