<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Control Panel</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

    <link rel="icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/dashboard.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>

    <%- include("./partials/side-panel.ejs") %>

    <section id="interface">
        <%- include("./partials/search-bar.ejs") %>
        <h3 class="i-name">
            Dashboard
        </h3>

        <div class="values">
            <div class="val-box">
                <i class="fas fa-users"></i>
                <div>
                    <h3><%=userCount%></h3>
                    <span>New Users</span>
                </div>
            </div>
            <div class="val-box">
                <i class="fas fa-shopping-cart"></i>
                <div>
                    <h3><%=rowCount%></h3>
                    <span>Total Medicine/s</span>
                </div>
            </div>
            <div class="val-box">
                <i class="fas fa-acorn"></i>
                <div>
                    <h3>215,542</h3>
                    <span>Most Recent Review</span>
                </div>
            </div>
            <!-- <div class="val-box">
                <i class="fas fa-dollar-sign"></i>
                <div>
                    <h3>$677.89</h3>
                    <span>This Month</span>
                </div>
            </div> -->
        </div>

        <dir class="board">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Status</td>
                        <td>Role</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="people">
                            <div class="people-de">
                                <h5>John Doe</h5>
                                <p>john@example.com
                                </p>
                            </div>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                            <!-- <a href="#">Edit</a> -->
                        </td>
                        <td><a class="edit" href="#">Edit</a></td>
                    </tr>

                    <tr>
                        <td class="people">
                            <div class="people-de">
                                <h5>Oscar Rhys</h5>
                                <p>john@example.com
                                </p>
                            </div>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                            <!-- <a href="#">Edit</a> -->
                        </td>
                        <td><a class="edit" href="#">Edit</a></td>
                    </tr>

                    <tr>
                        <td class="people">
                            <div class="people-de">
                                <h5>George Reece</h5>
                                <p>john@example.com
                                </p>
                            </div>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                            <!-- <a href="#">Edit</a> -->
                        </td>
                        <td><a class="edit" href="#">Edit</a></td>
                    </tr>

                    <tr>
                        <td class="people">
                            <div class="people-de">
                                <h5>Thomas Joe</h5>
                                <p>john@example.com
                                </p>
                            </div>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                            <!-- <a href="#">Edit</a> -->
                        </td>
                        <td><a class="edit" href="#">Edit</a></td>
                    </tr>

                    <tr>
                        <td class="people">
                            <div class="people-de">
                                <h5>Charlie Kyle</h5>
                                <p>john@example.com
                                </p>
                            </div>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                            <!-- <a href="#">Edit</a> -->
                        </td>
                        <td><a class="edit" href="#">Edit</a></td>
                    </tr>

                    <tr>
                        <td class="people">
                            <div class="people-de">
                                <h5>Jacob Jacob</h5>
                                <p>john@example.com
                                </p>
                            </div>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                            <!-- <a href="#">Edit</a> -->
                        </td>
                        <td><a class="edit" href="#">Edit</a></td>
                    </tr>

                    <tr>
                        <td class="people">
                            <div class="people-de">
                                <h5>Harry Callum</h5>
                                <p>john@example.com
                                </p>
                            </div>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                            <!-- <a href="#">Edit</a> -->
                        </td>
                        <td><a class="edit" href="#">Edit</a></td>
                    </tr>

                    <tr>
                        <td class="people">
                            <div class="people-de">
                                <h5>Jack Connor</h5>
                                <p>john@example.com
                                </p>
                            </div>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                            <!-- <a href="#">Edit</a> -->
                        </td>
                        <td><a class="edit" href="#">Edit</a></td>
                    </tr>

                    <tr>
                        <td class="people">
                            <div class="people-de">
                                <h5>Oliver Jake</h5>
                                <p>john@example.com
                                </p>
                            </div>
                        </td>
                        <td class="active">
                            <p>Active</p>
                        </td>
                        <td class="role">
                            <p>Owner</p>
                        </td>
                        <td><a class="edit" href="#">Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </dir>
    </section>


    <script>
        $('#menu-btn').click(function() {
            $('#menu').toggleClass("active");
        })
    </script>

</body>

</html>