<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Control Panel</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/dashboard.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

    <%- include("./partials/side-panel.ejs") %>
        <section id="interface">
            <%- include("./partials/search-bar.ejs") %>
                <div id="dynamic-content"></div>
        </section>
        <script>
            $(document).ready(function () {
                // Load default content on page load
                $('#dynamic-content').load('/admin/statistics', function () {
                    // Set active class and adjust left border for the default content
                    setActive('#statistics-link');
                });
        
                // Function to set active class and adjust left border on clicked link
                function setActive(linkId) {
                    $('.items li').removeClass('active').css('border-left', 'none');
                    $(linkId).addClass('active').css('border-left', '4px solid #fff');
                }
        
                // Function to handle link clicks and load content
                function handleLinkClick(linkId, contentUrl) {
                    $(linkId).click(function (e) {
                        e.preventDefault();
                        if (!$('#dynamic-content').hasClass(linkId.substring(1) + '-loaded')) {
                            $('#dynamic-content').load(contentUrl, function () {
                                // Set active class and adjust left border for the clicked link
                                setActive(linkId);
                            });
                        }
                    });
                }
        
                // Define links and their corresponding content URLs
                var links = [
                    { id: '#statistics-link', url: '/admin' },
                    { id: '#manage-users-link', url: '/admin/manage-users-content' },
                    { id: '#manage-medicine-link', url: '/admin/manage-medicine-content' }
                ];
        
                // Attach click handlers to links
                links.forEach(function (link) {
                    handleLinkClick(link.id, link.url);
                });
            });
        </script>
        
          
</body>
<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</html>