<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Mediplus</title>
        <base href="/">
        <link rel="stylesheet" href="css/search.css">
        <!-- <link rel="stylesheet" href="./css/fonts.css">
        <link rel="stylesheet" href="./css/magnific-popup.css"> -->
        <!-- <link rel="stylesheet" href="css/view_all.css"> -->
        <link rel="icon" href="img/favicon.png">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/> -->
</head>

<body>
    <div class="preloader">
        <div class="loader">
            <div class="loader-outter"></div>
            <div class="loader-inner"></div>

            <div class="indicator"> 
                <svg width="16px" height="12px">
                    <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                </svg>
            </div>
        </div>
    </div>
    <%- include("./partials/nav.ejs") %>
    



        <main class="main" id="main">
            <section class="home section" id="home">
                <div class="home__container container grid">
                    <div class="home__data">
                        <h1 class="home__title">
                            Gateway Health <br> Discoveries
                        </h1>
                        <p class="home_description" style="color: #fff">
                            What are you looking for?
                        </p>
                        <!-- <form action="/filter" name="srch_form" class="home__search"  method="get">
                        <i class='bx bxs-map'></i>
                        <input type="search" placeholder="Search by Medicine..." class="home__search-input" name="Medicine" style="border-width: 0px;" required>
                        <input type="submit" value="Search" class="button" style="border-width: 0; background-color:  rgb(51, 128, 216); color: white;">
                    </form> -->
                        <div class="wrapper">
                            <form id="search-form">
                                <div class="search-input">
                                    <a href="" target="_blank" hidden></a>
                                    <input class="written" type="text" placeholder="Type to search.."
                                        style="font-size: 21px;">
                                    <div class="autocom-box">
                                        <!-- here list are inserted from javascript -->
                                    </div>
                                    <div class="icon" style="background-color: rgb(27, 107, 245);"><i
                                            style="color: #fff;" class="fas fa-search"></i></div>
                                </div>
                                <input type="submit" id="hidden-submit">
                            </form>
                        </div>


                        <div class="home__value">
                            <div>
                                <h1 class="home__value-number">
                                    9k <span style="color:  rgb(51, 128, 216);">+</span>
                                </h1>
                                <span class="home__value-description">
                                    Premium <br> Product
                                </span>
                            </div>
                            <div>
                                <h1 class="home__value-number">
                                    2k <span style="color:  rgb(51, 128, 216);">+</span>
                                </h1>
                                <span class="home__value-description">
                                    Happy <br> Customer
                                </span>
                            </div>
                            <div>
                                <h1 class="home__value-number">
                                    28k <span style="color: rgb(51, 128, 216);">+</span>
                                </h1>
                                <span class="home__value-description">
                                    Awards <br> Winning
                                </span>
                            </div>
                         
                        </div>
                                <form action="/view_all" method="get" id="viewAllForm">
                                <button type="submit" class="view-all-button">
                                    View All Medicines
                                </button>
                            </form>                         
                    </div>
                  
                    <div class="home__images">
                        <div class="home__orbe">

                        </div>
                        <div class="home__img">
                            <img class="img-home" src="./img/lab-g99ee7d69c_1920-1.jpg" alt="">
                        </div>
                    </div>
                   
                     </div>

                </div>
            </section>
        </main>

        <%- include("./partials/footer.ejs") %>


</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="./js/suggestions.js"></script>
<script src="./js/search.js"></script>






<!-- jquery Min JS -->
<script src="js/jquery.min.js"></script>

<script src="js/main.js"></script>



